#time {
  float: right;
}

.container {
  padding: 0 200px;
}

h1 {
  padding: 20px;
}

.first-page,
.high-score-page {
  text-align: center;
  display: block;
}

.quest1 {
  display: none;
}

.quest2 {
  display: none;
}

.quest3 {
  display: none;
}

.last-page {
  text-align: center;
  display: none;
}

ul {
  text-align: left;
  list-style: none;
}

li {
  padding: 5px;
}
