#time {
  float: right;
}

.container {
  padding: 0 200px;
}

.first-page {
  text-align: center;
  display: block;
}

.first-page h2 {
  text-align: center;
}

.quest1 {
  display: none;
}

.quest2 {
  display: none;
}

.quest3 {
  display: none;
}

.last-page {
  text-align: center;
  display: none;
}

.last-page h2 {
  text-align: center;
}

h2 {
  text-align: left;
  padding: 20px;
}

ul {
  text-align: left;
  list-style: none;
}

li {
  padding: 5px;
}
