:root {
  --yellow: #ffc71e;
  --border: 8px;
  --padding: 0 5px;
}

header {
  height: 50px;
}

#high-score {
  font-size: 20px;
  color: var(--yellow);
  font-weight: bold;
  border: none;
  background-color: white;
}

.high-score-page {
  padding-top: 40px;
  padding-bottom: 20px;
}

#high-score a {
  color: var(--yellow);
  text-decoration: none;
}

#time {
  float: right;
  color: var(--yellow);
  font-size: 20px;
  font-weight: bold;
}

.container {
  padding: 0 250px;
}

.welcome-page,
.high-score-page {
  text-align: center;
  display: block;
}

.welcome-page p {
  margin: 20px;
  padding: 10px;
}

.quest1,
.quest2,
.quest3,
.quest4,
.quest5 {
  display: none;
}

h1 {
  padding: 10px;
  margin: 10px;
}

button {
  background-color: var(--yellow);
  border-radius: var(--border);
  font-size: 15px;
  opacity: 1;
}

.last-page {
  text-align: center;
  display: none;
}

p {
  margin: 5px;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  text-align: left;
  list-style: none;
  padding: 10px;
  margin: 10px;
}

li {
  padding: 5px;
  opacity: 1;
}

li :hover {
  opacity: 0.75;
}

.new-element {
  text-align: center;
  border: 5px solid #fce9ae;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.buttons button {
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 200px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 50px;
  }
}
